#formeventos{
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url(6.jpg);
}
.resize {
    width: 700px;
    height: 300px;
    
}
#titulocat{
    font-size: 15px;
    
}
th{
    text-align: left;
    background-color: #506DB1;
}
#data_table{
    margin-bottom: 5%;
}
i{
    color:#506DB1;
}

.text-primary{
    color:#506DB1 !important;
}

.contact-section .bg-black a{
    color:#506DB1 !important;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #506DB1 !important;
}
